<!-- FUNCTION JS -->
<% let isUser = user != undefined ? true: false%> <% let img = isUser ?
user.img: 'https://i.ibb.co/bms8TZT/f9a09806a199.png'%> <% let apikey = isUser ?
user.apikey: 'login-first'%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title><%- title %></title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="/corona/assets/vendors/mdi/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="/corona/assets/vendors/css/vendor.bundle.base.css"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link
      rel="stylesheet"
      href="/corona/assets/vendors/jvectormap/jquery-jvectormap.css"
    />
    <link
      rel="stylesheet"
      href="/corona/assets/vendors/flag-icon-css/css/flag-icon.min.css"
    />
    <link
      rel="stylesheet"
      href="/corona/assets/vendors/owl-carousel-2/owl.carousel.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="/style/vendor/datatable/jquery.dataTables.min.css"
    />

    <link
      rel="stylesheet"
      href="/corona/assets/vendors/owl-carousel-2/owl.theme.default.min.css"
    />

    <!-- Layout styles -->
    <link rel="stylesheet" href="/corona/assets/css/style.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/corona/assets/images/favicon.png" />
    <!-- MY STYLE -->
    <link rel="stylesheet" href="/style/css/style.css" />
    <link rel="stylesheet" href="/style/css/responsive.css" />
    <!-- END MY STYLE -->
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <%- include('partials/_sidebar') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <%- include('partials/_navbar') %>
        <!-- partial -->
        <div class="main-panel">
          <!-- INCLUDE BODY -->
          <div class="content-wrapper">
            <center><%- include('msg') %> <%- include('errors') %></center>
            <%- body %>
          </div>
          <!-- INCLUDE BODY -->

          <!-- partial:partials/_footer.html -->

          <%- include('partials/_footer') %>

          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/corona/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/corona/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="/corona/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/corona/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="/corona/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/corona/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/corona/assets/js/off-canvas.js"></script>
    <script src="/corona/assets/js/hoverable-collapse.js"></script>
    <script src="/corona/assets/js/misc.js"></script>
    <script src="/corona/assets/js/settings.js"></script>
    <script src="/corona/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/corona/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
    <!-- jQuery -->
    <script src="/style/vendor/jquery/jquery.3.6.0.js"></script>

    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"
    ></script>
    <!-- javascript -->
    <script src="/style/js/main.js"></script>
  </body>
</html>
