<!-- FUNCTION JS -->
<% let isUser = user != undefined ? true: false%> <% let img = isUser ?
user.img: 'https://i.ibb.co/bms8TZT/f9a09806a199.png'%> <% let apikey = isUser ?
user.apikey: 'login-first'%> <% let name = !isUser ? `Guest` : (user.fullName ?
user.fullName : "your name")%> <% let myrole= isUser ? (user.role == 1 ?
'Admin': (user.role == 2 ? 'Premium':"Member")): 'Login First'%>
<!-- FUNCTION JS -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div
    class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top"
  >
    <a class="sidebar-brand brand-logo" href="/docs"
      ><img src="/corona/assets/images/logo.svg" alt="logo"
    /></a>
    <a class="sidebar-brand brand-logo-mini" href="/docs"
      ><img src="/corona/assets/images/mini-logo.svg" alt="logo"
    /></a>
  </div>
  <ul class="nav">
    <li class="nav-item profile">
      <div class="profile-desc">
        <div class="profile-pic">
          <div class="count-indicator">
            <img class="img-xs rounded-circle" src="<%- img %>" alt="" />
            <span class="count bg-success"></span>
          </div>
          <div class="profile-name">
            <h5 class="mb-0 font-weight-normal"><%= name %></h5>
            <span><%= myrole %></span>
          </div>
        </div>
        <a href="#" id="profile-dropdown" data-toggle="dropdown"
          ><i class="mdi mdi-dots-vertical"></i
        ></a>
        <div
          class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
          aria-labelledby="profile-dropdown"
        >
          <a
            href="/docs/member/edit_profile"
            class="dropdown-item preview-item"
          >
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-settings text-primary"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">
                Account settings
              </p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a
            href="/docs/member/change_password"
            class="dropdown-item preview-item"
          >
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-onepassword text-info"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">
                Change Password
              </p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <% if (isUser) { %>
          <a href="/auth/logout" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-logout text-success"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Logout</p>
            </div>
          </a>
          <% } else {%>
          <a href="/auth/login" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-login text-success"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Login</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="/auth/register" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-account text-success"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Register</p>
            </div>
          </a>
          <% } %>
        </div>
      </div>
    </li>
    <!-- START NAVIGATION -->
    <li class="nav-item nav-category">
      <span class="nav-link">NAVIGATION</span>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/docs">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <!-- END NAVIGATIONS -->

    <!-- START MENU ADMIN -->
    <% if(isUser && user.role == 1) {%>
    <li class="nav-item nav-category">
      <span class="nav-link">ADMIN MENU</span>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/docs/admin/list_user">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">List User</span>
      </a>
    </li>

    <li class="nav-item menu-items">
      <a class="nav-link" href="/docs/admin/list_students">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">List Student</span>
      </a>
    </li>
    <%}%>
    <!-- END MENU ADMIN -->

    <!-- START MENU API -->
    <li class="nav-item nav-category">
      <span class="nav-link">API</span>
    </li>
    <!-- START DOWNLOADER  -->
    <li class="nav-item menu-items">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#ui-basic"
        aria-expanded="false"
        aria-controls="ui-basic"
      >
        <span class="menu-icon">
          <i class="mdi mdi-cloud-download"></i>
        </span>
        <span class="menu-title">Downloader</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/downloader/scihub?apikey=<%- apikey %>&url=https://doi.org/10.1016/S0925-5214(01)00163-6"
              >Scihub</a
            >
          </li>
          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/downloader/mediafire?apikey=<%- apikey %>&url=https://www.mediafire.com/file/hmt34ega1oj09fh"
              >Mediafire</a
            >
          </li>
          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/downloader/fbvideo?apikey=<%- apikey %>&url=https://www.facebook.com/ReturningTheFavor/videos/2020109721593621/"
              >FB Video</a
            >
          </li>
          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/downloader/instagram?apikey=<%- apikey %>&url=https://www.instagram.com/p/Cm047eeJd-c/?igshid=YmMyMTA2M2Y="
              >Instagram</a
            >
          </li>
          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/downloader/gdrive?link=https://drive.google.com/file/d/1l70q3MvTGNZDhp0IZjcnNTZXvosTdXhX/view?usp=share_link&apikey=<%- apikey %>"
              >G-DRIVE</a
            >
          </li>
          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/tools/ytmp4?url=https://youtu.be/JmbvEsPk_Ok&apikey=<%- apikey %>"
              >YTMP4</a
            >
          </li>
          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/tools/ytmp3?url=https://youtu.be/JmbvEsPk_Ok&apikey=<%- apikey %>"
              >YTMP3</a
            >
          </li>
          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/tools/ytplay?q=javascript&apikey=<%- apikey %>"
              >YTPLAY</a
            >
          </li>
          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/downloader/tiktok?url=https://vt.tiktok.com/ZS86gkaCH/&apikey=<%- apikey %>"
              >Tiktok</a
            >
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item menu-items">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#auth"
        aria-expanded="false"
        aria-controls="auth"
      >
        <span class="menu-icon">
          <i class="mdi mdi-star-outline"></i>
        </span>
        <span class="menu-title">Islami</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/islam/list_surah?apikey=<%- apikey %>"
            >
              List Surah
            </a>
          </li>
          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/islam/search_word?q=dzulkarnain&apikey=<%- apikey %>"
            >
              Cari Kata
            </a>
          </li>
          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/islam/tafsir_surah?nomor_surah=1&apikey=<%- apikey %>"
            >
              Tafsir Surah
            </a>
          </li>
          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/islam/search_surah?nomor_surah=1&apikey=<%- apikey %>"
            >
              Cari Surah
            </a>
          </li>
        </ul>
      </div>
    </li>
    <!-- START FUN -->
    <!-- START MENU TOOLS -->
    <li class="nav-item menu-items">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#menu-tools"
        aria-expanded="false"
        aria-controls="menu-tools"
      >
        <span class="menu-icon">
          <i class="mdi mdi-content-cut"></i>
        </span>
        <span class="menu-title">Tools</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="menu-tools">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/tools/emails?apikey=<%- apikey %>&name=your-name"
            >
              Temp Mail
            </a>
          </li>
          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/tools/translate/id?text=what+is+your+name+&apikey=<%- apikey %>"
            >
              Google Translate
            </a>
          </li>
          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/tools/sshp?url=google.com/&apikey=<%- apikey %>"
            >
              SSHP
            </a>
          </li>
          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/tools/sspc?url=google.com/&apikey=<%- apikey %>"
            >
              SSPC
            </a>
          </li>
        </ul>
      </div>
    </li>
    <!-- END MENU TOOLS -->

    <li class="nav-item menu-items">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#menu-fun"
        aria-expanded="false"
        aria-controls="menu-fun"
      >
        <span class="menu-icon">
          <i class="mdi mdi-cube-outline"></i>
        </span>
        <span class="menu-title">FUN</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="menu-fun">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/fun/simi?q=hai&apikey=<%- apikey %>"
              >Simi</a
            >
          </li>
        </ul>
      </div>
    </li>
    <!-- END FUN -->

    <!-- START MENU INFORMATION-->
    <li class="nav-item menu-items">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#menu-information"
        aria-expanded="false"
        aria-controls="menu-information"
      >
        <span class="menu-icon">
          <i class="mdi mdi-information-outline"></i>
        </span>
        <span class="menu-title">Information</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="menu-information">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/information/news?apikey=<%- apikey %>"
              >News</a
            >
          </li>
          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/information/kode-post?apikey=<%- apikey %>&q=34765"
              >Kode Post</a
            >
          </li>

          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/information/harga-komoditas?apikey=<%- apikey %>"
              >Harga Pangan</a
            >
          </li>

          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/information/cari-sekolah?q=sman+1+kasui&apikey=<%- apikey %>"
              >Cari Sekolah</a
            >
          </li>
          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/information/kbbi?apikey=<%- apikey %>&q=buaya"
              >Kbbi</a
            >
          </li>
          <li class="nav-item">
            <a
              target="blank"
              class="nav-link"
              href="/docs/information/kbbi2?apikey=<%- apikey %>&q=buaya"
              >Kbbi2</a
            >
          </li>
        </ul>
      </div>
    </li>
    <!-- END MENU API -->
    <!-- START Contact ME -->
    <li class="nav-item nav-category">
      <span class="nav-link">Contact Me</span>
    </li>
    <li class="nav-item menu-items">
      <a
        class="nav-link"
        href="https://wa.me/15676666644?text=sewa+bot"
        target="blank"
      >
        <span class="menu-icon"> <i class="mdi mdi-whatsapp"></i></span>
        <span class="menu-title">Sewa bot? PM</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="https://wa.me/15676666644" target="blank">
        <span class="menu-icon"> <i class="mdi mdi-whatsapp"></i></span>
        <span class="menu-title">Whatsapp</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a
        href="https://wa.me/6285216024226?text=*Request%20Fitur*%20:"
        class="nav-link"
        target="blank"
      >
        <span class="menu-icon"> <i class="mdi mdi-whatsapp"></i></span>
        <span class="menu-title">Request Fitur / Report bug?</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a href="https://github.com/dasx000" class="nav-link" target="blank">
        <span class="menu-icon"> <i class="mdi mdi-github-circle"></i></span>
        <span class="menu-title">Github</span>
      </a>
    </li>

    <!-- END Contact me-->
    <li class="nav-item nav-category">
      <a
        href="https://www.bootstrapdash.com/bootstrap-admin-template/"
        target="blank"
      >
        <span class="nav-link"
          >Template by <br />
          Bootstrapdash.com</span
        >
      </a>
    </li>
  </ul>
</nav>
